html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.App {
  min-width: 360px;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding-left: 25vw;
}

.App-sidebar {
  overflow-y: auto;
  position: absolute;
  left: 0;
  width: 25vw;
  height: 100%;
  border-right: 1px solid #ddd;
}

.App-sidebar-controls {
  display: none;
  width: 0;
}

.App-sidebar-content {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #efefef;
}

.App-main {
  overflow-y: auto;
  padding: 1em 2em;
  width: 100%;
}

.App-logo {
  display: block;
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .App {

  }

  .App-sidebar {

  }

  .App-sidebar.collapsed {

  }

  .App-sidebar.expanded {

  }

  .App-sidebar-controls {

  }

  .App-sidebar-content {

  }
}
